<section class="pagesecwrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
             <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 mb-4" *ngFor="let user of allUsers">
                        <div class="userlist card p-4 d-block text-center" >
                            <div *ngIf="user.profileImageUrl" class="profile-image">
                                <img [src]="user.profileImageUrl" alt="User Profile Image" class="rounded-circle"/>
                              </div>
                              <div *ngIf="!user.profileImageUrl" class="profile-image">
                                <img src="https://static-00.iconduck.com/assets.00/profile-circle-icon-2048x2048-cqe5466q.png" width="100px">
                              </div>
                            <h6 class="mt-3 mb-2 text-uppercase font-weight-medium">{{user.firstName}} {{user.lastName}}</h6>
                            <span class="d-block mb-0 text-muted">{{user.friends.length}} Connection</span>
                            <span class="d-block mb-0 text-muted">{{user.postCount}} Posts</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>