<section class="authsecwrapper">
    <div class="container">
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{errorMessage}}
          </div>
          <div *ngIf="successMessage" class="alert alert-success" role="alert">
            {{successMessage}}
          </div>
        <div class="card">
            <div class="card-header text-center p-4"> 
                <h1 class="text-clolor-theme fw-bold">FBOOK</h1>
                <h5 class="text-uppercase">Reset Password</h5> 
            </div>
            <div class="card-body p-5">
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="New Password" formControlName="newPassword">
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
                    </div>
                    <div class="text-center">
                    <button type="submit"  class="btn btn-theme text-white" [disabled]="resetForm.invalid">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>